.cart{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 73vh;
    overflow-y: auto;
}

.cart::-webkit-scrollbar{
    width: 0.5vw;
}
.cart::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 1vw;
    cursor: pointer;
    transition: 0.2s;
}
.cart::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}
.cart::-webkit-scrollbar-track{
    background-color: #ccc6;
    border-radius: 1vw;
}

.cart--card{
    display: flex;
    gap: 1vw;
    padding: 2%;
    margin: 2%;
    /* background-color: #ccc5; */
    border-bottom: 0.3vh solid #000;
    border-radius: 1vh;
    /* color: #fff; */
    backdrop-filter: saturate(180%) blur(10px);
}

.cart--card--img{
    width: 40%;
    border-radius: 0.5vw;
}
.cart--card--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
}
.cart--card--title{
    font-weight: 500;
    font-size: 1.2em;
}
.cart--card--price{
    font-size: 1em;
}
.cart--card--size{
    font-size: 1em;
}
.cart--card--counter{
    display: flex;
    gap: 1vw;
}
.cart--remove, .cart--add{
    width: 1.5vw;
    text-align: center;
    background-color: #000;
    color: #fff;    
    cursor: pointer;
    transition: 0.2s;
}

.cart--remove:active, .cart--add:active{
    transform: scale(0.8)
}

.cart--card--remove{
    align-self: flex-end;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
}

.cart--footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.cart--footer > * {
    text-align: center;
    width: 50%;
    margin: 2% 4% 2% 0;
    padding: 2%;
    transition: 0.2s;
    cursor: pointer;
}

.cart--clearall{
    background-color: #bbb;
}
.cart--clearall:hover{
    background-color: #888;
    color: #fff;
}

.cart--checkout{
    background-color: #000;
    color: #fff;
}
.cart--checkout:hover{
    background-color: #555;
}

.cart--clearall:active, .cart--checkout:active{
    transform: scale(0.9);
}