.explore {
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: stretch;
}

.explore--left {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 20%;
    padding: 2vw;
}

.explore--left--title{
    font-weight: 500;
}

.filters{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 5vh;
}

.filter--title{
    font-size: 0.8em;
    font-style: italic;
    padding-top: 1vh;
}

.size--div, .color--div, .category--div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    padding-bottom: 2vh;
}

.size--box, .category--box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 2%;
    background-color: #fff;
    border: none;
    transition: 0.2s;
}
.size--box, .color--box{
    height: 4vh;
    width: 2.5vw;
    border: none;
    transition: 0.2s;
}

.size--box:active, .category--box:active, .color--box:active{
    transform: scale(0.9);
}

.button-active{
    border-bottom: 0.5vh solid #000;
}
.button-active-w{
    border-bottom: 0.5vh solid #fff;
}

#c-mustard{
    background-color: #FFDB58;
}
#c-onion{
    background-color: #9d5a8f   ;
}
#c-green{
    background-color: #355E3B;
}
#c-navy{
    background-color: #000080;
}
#c-grey{
    background-color: grey;
}
#c-white{
    background-color: white;
}
#c-black{
    background-color: black;
}
#c-mustard:checked::after,
#c-onion:checked::after,
#c-green:checked::after,
#c-navy:checked::after,
#c-grey:checked::after,
#c-white:checked::after,
#c-black:checked::after{
    background-color: inherit;
    border: 3px solid #888;
}

.clear--all{
    text-align: center;
    text-decoration: underline;
    font-size: 0.8em;
    cursor: pointer;
}

.explore--right {
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    /* justify-content: space-around; */
    gap: 2vw;
    /* border: 1px solid red; */
    width: 80%;
    min-height: 84vh;
    background-color: #eee;
}
