.header{
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 30px #333; */
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 0 2vw;
}

.web--logo{
    justify-self: center;
    height: 5vw;
    cursor: pointer;
}

.search--bar{
    height: 100%;
    width: 20vw;
    background-color: rgba(255,255,255,0);
    backdrop-filter: saturate(180%) blur(10px);
    border-bottom: 1vh solid #000;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-indent: 1vw;
}
.search--bar:focus{
    outline:none;
    background-color: #eee;
}
.search--bar::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 10px;
    padding-right: 1vw;
    content: url("../icons/close.png");
    cursor: pointer;
}

.nav--bar{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100%;
    padding: 0;
}

.nav--bar li{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shopping--cart{
    height: 50%;
}

.no--style{
    position: relative;
    height: 100%;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: 0.2s;
    border-bottom: 0vh solid #000;
}
.no--style:hover{
    color: #888;
    border-bottom-width: 1vh;
}
.active{
    color: #666;
}

.cart--bg{
    background: url('../icons/shopping-cart.png') center center/2vw 2vw no-repeat;
    height: 100%;
    width: 4vw;
    padding: 0 0.8vw;
    display: flex;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.cart--bg:hover{
    background-image: url('../icons/shopping-cart-grey.png')
}
.cart--bg:active{
    transform: scale(0.8);
}

.cart--count{
    position: relative;
}

.cart--count::after{
    content: attr(productCount);
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 60, 60);
    border-radius: 50%;
    color: #fff;
}

.off-canvas{
    width: 30vw;
    border: none;
    /* box-shadow: 0px 30px 30px #333; */
    background-color: #ddd;
    /* backdrop-filter: saturate(180%) blur(10px); */
    margin-top: 8vh;
    z-index: 1;
}

.off--canvas--body{
    height: 100%;
}

.cart--title{
    font-weight: 400;
}