.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: fadein 2s; */
}

#preloader{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 5;  
}

.preloader--img{
  width: 20vw;
  animation: fadeout 0.5s linear infinite alternate;
}

.main--container{
  width: 100%;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

@keyframes fadeout {
  from { 
    /* transform: scale(1); */
    opacity: 1;
  }
  to   { 
    /* transform: scale(50); */
    opacity: 0.3;
  }
}


@keyframes fadein {
  0% { 
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}